// Here you can add other styles
.sidebar-nav .nav-title {
    display: inline-flex;
}
.sidebar-nav .nav-link {
    margin-inline-start: 1em;
}
.alignRight {
    float: right;
}
.fittedImageHeight {
    height: 420px;
    padding-top: 20px;
}
.fittedImageHeight img {
  border-radius: var(--cui-border-radius);
}
.imageThumbnails span img {
    border-radius: var(--cui-border-radius);
    margin: 10px 10px 0 0;
}
.imageThumbnails span img:hover {
    margin-right: 8px;
}
.imageThumbnails span img:hover + .deleteImg {
    display: inline-block; 
    margin-right: -21px;   
}
.deleteImg {
    display: none;
    position: relative;
    cursor: pointer;
    top: -95px;
    left: -45px;
}
.deleteImg:hover {
    display: inline-block;
    left: -47px;
    margin-right: -23px;
}
.cursorPointer:not(.active):not(.disabled) {
  cursor: pointer;
}
// react-select
.filter {
  &__value-container {
    padding-top: 1.625rem !important;
    padding-bottom: 0.625rem !important;
    height: calc(3.5rem + calc(var(--cui-border-width)* 2)) !important;
    min-height: calc(3.5rem + calc(var(--cui-border-width)* 2)) !important;
    line-height: 1.25 !important;
    margin-bottom: -0.1rem !important; 
  }
  &__value-container--is-multi {
    margin-left: 4px;
  }
  &__input-container {
    margin-bottom: -0.5rem !important;
    cursor: pointer;
  }
  &__menu, &__menu div div {
    cursor: pointer;
    z-index: 3 !important;
  }
  &__control {
    border: var(--cui-border-width) solid var(--cui-border-color) !important;
    border-radius: var(--cui-border-radius) !important;

    &--is-focused {
      box-shadow: 0 0 0 0.25rem rgb(from var(--cui-primary) r g b / 0.25) !important;
    }
  }
  &__placeholder {
    margin-left: 5px !important;
  }
  &__control, &__menu, &__placeholder, &__single-value, &__multi-value__label, &__input {
    background-color: var(--cui-body-bg) !important;
    color: var(--cui-body-color) !important;
  }
  &__single-value {
    margin-left: 5px !important;
  }
  &__option {
    background-color: var(--cui-body-bg) !important;

    &--is-focused {
      background-color: var(--cui-light-bg-subtle) !important;
    }
  }
  &__multi-value__label, &__multi-value {
    background-color: var(--cui-secondary-bg) !important;
    color: var(--cui-body-color) !important;
  }
  &__multi-value__remove:hover {
    background-color: var(--cui-secondary) !important;
    color: var(--cui-body-color) !important;
  }
}
.form-select-label {
  color: rgba(var(--cui-body-color-rgb), 0.65);
  transform: scale(0.85) translateY(-4rem) translateX(0.8rem);
}
.invalid-select-message {
  display: none;
  width: 100%;
  margin-top: -1.45rem;
  font-size: 0.875em;
  color: var(--cui-form-invalid-color);
}
div.error div.filter__control {
  border-color: var(--cui-form-invalid-border-color) !important;
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" stroke="%23e55353"><circle cx="6" cy="6" r="4.5" /><path stroke-linejoin="round" d="M5.8 3.6h.4L6 6.5z" /><circle cx="6" cy="8.2" r=".6" fill="%23e55353" stroke="none" /></svg>');
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
div.valid div.filter__control {
  border-color: var(--cui-form-valid-border-color) !important;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path fill="%231b9e3e" d="M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z" /></svg>');
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
// End react-select
// table row select
select.tableRow {
  display: inline;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  border-radius: var(--cui-border-radius-sm);
  font-weight: 400;
  line-height: 1.5;
  color: var(--cui-body-color);
  background-color: var(--cui-body-bg);
  border: var(--cui-border-width) solid var(--cui-border-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
// End table row select

