// Here you can add other styles
.sidebar-nav .nav-title {
    display: inline-flex;
}
.sidebar-nav .nav-link {
    margin-inline-start: 1em;
}
.alignRight {
    float: right;
}
.fittedImageHeight {
    height: 420px;
    overflow: auto;
}